/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.map-container {
  flex-grow: 1;
  max-height: 100%;
  overflow: hidden;
}

.sidebar {
  width: 300px;
  padding: 10px;
  border-left: 1px solid #ccc;
  overflow-y: auto;
  background: #f9f9f9;
}

.sidebar h3 {
  margin: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar button {
  margin-right: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-left: none;
    border-top: 1px solid #ccc;
  }

  .sidebar h3 {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .sidebar {
    padding: 5px;
  }

  .sidebar button {
    font-size: 12px;
    padding: 5px;
  }
}

.map-container {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="red" d="M12 2C8.13 2 5 5.13 5 9c0 3.93 4.5 10.74 6.57 13.57.2.3.56.3.76 0C14.5 19.74 19 12.93 19 9c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/></svg>') 12 12, auto;
}